body{
    font-family: "Open Sans", serif;
    text-align: center;
    background-color: black;
    color: white;
    width: 90vw;
    margin: auto;
    margin-top: 100px;
}

button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:50vw;
    margin: auto;
    font-family: "Open Sans", serif;
    font-size: larger;
}



button:active{
    transform: scale(0.96);
}


#noVdo{
    margin-top: 30px;
    height: 200px;
    width: 80vw;
}

#yesVdo{
    margin-top: 30px;
    height: 200px;
    width: 80vw;
}

.hidden {
    display: none;
}
